<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">MACD Submission 2</h5>
                </div>
                <div class="card-body">
                    {{#if msg}}
                    <div class="alert alert-success">
                        {{msg}}
                    </div>
                    {{/if}}
                    <form method="POST" action="/result" enctype="multipart/form-data">
                        <p class="card-text">Pilih gambar yang ingin di analisa</p>
                        <input type="file" name="image">
                        <button href="#" class="btn btn-primary">Analisa Gambar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Hasil Analisa Gambar</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <span id="keterangan"></span>
                    </div>
                    <img id="image-result" class="img-thumbnail"
                        src="https://dwirandyhstorage.blob.core.windows.net/macdsubmission/blobmacd">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var imageUrl = $("#image-result").attr('src');
        if (imageUrl != '') {
            processImage();
        }
    });

    function processImage() {
        // **********************************************
        // *** Update or verify the following values. ***
        // **********************************************

        // Replace <Subscription Key> with your valid subscription key.
        var subscriptionKey = "c1b110b44617404a98640283d21a2d9e";

        // You must use the same Azure region in your REST API method as you used to
        // get your subscription keys. For example, if you got your subscription keys
        // from the West US region, replace "westcentralus" in the URL
        // below with "westus".
        //
        // Free trial subscription keys are generated in the "westus" region.
        // If you use a free trial subscription key, you shouldn't need to change
        // this region.
        var uriBase =
            "https://southeastasia.api.cognitive.microsoft.com/vision/v2.0/analyze";

        // Request parameters.
        var params = {
            "visualFeatures": "Categories,Description,Color",
            "details": "",
            "language": "en",
        };

        // Display the image.
        var sourceImageUrl = $("#image-result").attr('src');

        // Make the REST API call.
        $.ajax({
            url: uriBase + "?" + $.param(params),

            // Request headers.
            beforeSend: function (xhrObj) {
                xhrObj.setRequestHeader("Content-Type", "application/json");
                xhrObj.setRequestHeader(
                    "Ocp-Apim-Subscription-Key", subscriptionKey);
            },

            type: "POST",

            // Request body.
            data: '{"url": ' + '"' + sourceImageUrl + '"}',
        })

            .done(function (data) {
                // Show formatted JSON on webpage.
                $("#keterangan").html(data.description.captions[0].text);
            })

            .fail(function (jqXHR, textStatus, errorThrown) {
                // Display error message.
                var errorString = (errorThrown === "") ? "Error. " :
                    errorThrown + " (" + jqXHR.status + "): ";
                errorString += (jqXHR.responseText === "") ? "" :
                    jQuery.parseJSON(jqXHR.responseText).message;
                alert(errorString);
            });
    };
</script>